*{
    background: #F3F5FC;
    font-family: Inter;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0em;
}

.caja{
    display: flex;
}
.logo{
    display: inline-flex;
    margin: 20px;
}

.titulo{
    position: relative;
    margin: auto;
    font-size: 40px;
    font-weight: bold;
}

main{
    position: relative;
    margin-bottom: 50px;
    margin-left: 30%;
}

.texto_inicial{
    position: relative;
    display: inline-flex;
    flex-direction: column;
}
.campo_texto{
    border: none;
    margin-top: 90px;
    width: 50%;
    color: #0A3871;
    text-transform: lowercase;
}
.campo_texto:focus{
    outline: none;
}

::placeholder{
    color: #0A3871;
}

.texto_encriptado{
    
    display: inline-flex;
    flex-direction: column;
    right: 0;
    border: none;
    width: 40%;
}


.campoMensaje{
    background: white;
    background-image: url(imagenes/Muñeco.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-top: 20px;
    padding-left: 20px;
}

.campo_Mensaje:focus{
    outline: none;
}

.mensajes_campo_encriptado{
    display: flexbox;
    width: 215px;
    background: white;
    color: #0A3871;
    text-align: center;
    font-size: 15px;
}

.vacio{
    font-weight: bold;
}

.informacion{
    font-size: 15px;
}

.btnEncriptar{
    color: white;
    background: #0A3871;
    width: 200px;
    padding: 14px;
    border-radius: 14px;
    gap: 2px;
    border: 1px solid #0A3871;
    cursor: pointer;
}
.btnDesencriptar {
    background: #D8DFE8;
    width: 200px;
    padding: 14px;
    border-radius: 14px;
    gap: 2px;
    border: 1px solid #0A3871;
    cursor: pointer;
}

.btnCopiar{
    background: #D8DFE8;
    margin-top: 25px;
    width: 200px;
    padding: 14px;
    border-radius: 14px;
    gap: 2px;
    border: 1px solid #0A3871;
    position: relative;
    cursor: pointer;
}

footer{
        text-align: center;
        margin: 10px 0 0 10px;
}

.links{
    display: inline-flexbox;
    justify-content: space-around;
    align-items: center;
    margin-left: 10%;
}

.Linkedin{
    width: 2em;
}

.github{
    width: 2em;
}